@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

body {
  font-family: Montserrat;
}

nav {
  box-shadow: 0px 14px 20px 0px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0px 14px 20px 0px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 14px 20px 0px rgba(255, 255, 255, 0.75);
}

.navbar-brand {
  font-weight: 700;
}

.opening {
  margin: 0 auto;
  width: 80%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.welcome {
  color: white;
  font-weight: 700;
  font-size: 1.3em;
}

.logo {
  width: 250px;
  height: 250px;
  background-color: #15161a;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoName {
  color: white;
  font-weight: 700;
}

.gallery {
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about {
  margin-top: 30px;
  margin-bottom: 50px;
}

.structure,
.about {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.gText,
.structureName,
.aboutName {
  color: white;
  font-weight: 700;
  font-size: 1.3em;
}

.structureCard,
.aboutCard {
  width: 300px;
  height: 300px;
  background-color: #15161a;
  border-radius: 20px;
}

.aboutCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 250px;
}

.jadwal {
  width: 85%;
  height: 55px;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jadwal a {
  text-decoration: none;
  color: black;
  font-weight: 800;
  font-size: 1.2em;
}

/* @media only screen and (max-width: 350px) {
  .welcome {
    font-size: 1.2em;
  }
} */
